@model IEnumerable<PurchaSaler.ViewModels.IndexVM>

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <img src="@item.GoodPath">
            <p>@item.GoodName</p>
            <p>@item.ShopName</p>
            <p>@item.UserName</p>
        }
    </div>
</div>