@model PurchaSaler.Models.Goods

<div class="row">
    <div class="col-md-4">
        <form asp-action="" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoodsName" class="control-label"></label>
                <input asp-for="GoodsName" class="form-control" />
                <span asp-validation-for="GoodsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoodsPhoto" class="control-label"></label>
                <input asp-for="GoodsPhoto" type ="file" name ="formFile" required ="" />
                <span asp-validation-for="GoodsPhoto" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="GoodsDescribe" class="control-label"></label>
                <input asp-for="GoodsDescribe" class="form-control" />
                <span asp-validation-for="GoodsDescribe" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div> 


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>