<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>PurchaSaler置闲交易网</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    @RenderSection("head", false)
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            color: #000000
        }

        body {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
            background: #f2f2f2
        }

        .nav{
            padding:0 60px 0 60px;
        }

        .nav ul li a:hover
        {
            color: #ff0036;

        }
        .nav a{
            padding: 0 20px 0 20px;
            text-decoration: none
        }

        /*---------dropdown开始*/
        .myDrop li{
            position:relative;
            display:inline-block;
        } 
        .myDrop li ul{
            display:none;
        }
        .myDrop li:hover > ul{
            display:block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f2f2;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            text-align:left;
        }
        
        /*---------dropdown结束*/

        .footer {
            width: 100%;
            background: #ffdc61;
            text-align: center;
            margin-bottom: 0;
        }
        .footer a:hover{color: #ff0036;}

        .footer_copyright {
            padding: 50px 30px;
        }
    </style>
    
    
</head>
<body>
    <div class="nav navbar">
        <ul class="nav left-bar myDrop">
            @Html.Partial("_PartialLogin")
        </ul>
        <ul class="nav right-bar">
            <li><a href="/Home/index">首页</a></li>
            @Html.Partial("_PartialOrder_CartAndColle")
            <li><a href="#">商品分类</a></li>
            <li><a href="#">联系客服</a></li>
            <li><a href="#">网站导航</a></li>
        </ul>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer_copyright">
            <p>
                <a href="#">关于网站</a> |
                <a href="#">About PurchaSaler</a> |
                <a href="#">服务条款</a> |
                <a href="#">用户服务协议</a> |
                <a href="#">隐私政策</a> |
                <a href="#">权利声明</a> |
                <a href="#">广告服务</a> |
                <a href="#">招聘中心</a> |
                <a href="#">客服中心</a> |
                <a href="#">网站导航</a>
            </p>
            <p>Copyright © 2019 一心 <a href="#">All Rights Reserved.</a></p>
            <p>一心 <a href="#">版权所有</a> <a>经营许可证</a></p>
        </div>
    </div>


</body>
</html>
