<div class="area-usercard">
    <img src="/images/avatar/default_avatar.png" class="avatar_unlogin" />
    <div class="loginbt"><a href="/User/Login" style="text-decoration:none">请登录</a></div>
    <div><a href="/User/Register" style="text-decoration:none">免费注册</a></div>
</div>

